html,
body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

.ol-popup {
  position: absolute;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  width: 300px; /* Увеличенная ширина */
  max-width: 300px; /* Максимальная ширина */
  font-size: 14px; /* Размер шрифта */
  color: #333; /* Цвет текста */
  line-height: 1.5; /* Межстрочный интервал */
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

#popup-closer {
  position: absolute;
  top: 2px;
  right: 8px;
  font-size: 16px;
  text-decoration: none;
  color: #333;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#popup-operation-time {
  white-space: pre-line;
}

.ol-attribution a:hover {
  color: var(--ol-brand-color);
  text-decoration: underline;
}

.info-popup-content > p { text-align:justify; }

.info-button {
  top: 5em;
  left: .5em;
}